/* Stylesheet Excursion */

html {
    font-family: Verdana;
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: white;
}

h1 {
    font-size: 3.125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

h2 {
    font-size: 2.625rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4,h5 {
    color: gray;
    font-size: 1.3125rem;
    font-weight: 300;
}

h5 {
    text-align: right;
}
.cta {
font-size: 1rem;
color: aquamarine;
}

.image-container {
display:flex;
justify-content: center;
margin: 1rem;


}

#copyright {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#phone {
    padding-bottom: 1.5rem;
}
